body {
  font-family: "Roboto", sans-serif;
  background-color: #fafafa;
}

#container {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  width: 1024px;
  margin: 0 auto;
}

#top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
}

h1 {
  font-size: 1.5em;
}

nav {
  width: 80%;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
  list-style: none;
}

.menuItem {
  text-decoration: none;
  margin: auto 8px;
  font-weight: 700;
}

.menuItem:hover {
  text-decoration: underline;
}

footer {
  background-color: #303030;
  color: #ffffff;
  width: 100%;
  text-align: center;
}

/*Styles for mobile*/
@media (max-width: 1024px) {
  #container {
    width: 100%;
  }
}

@media (max-width: 576px) {
  #top {
    flex-direction: column;
    flex-wrap: wrap;
  }

  ul {
    flex-direction: column;
  }
}
