body {
  font-family: "Roboto", sans-serif;
  background-color: #fafafa;
}

#container {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  width: 1024px;
  margin: 0 auto;
}

#top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
}

h1 {
  font-size: 1.5em;
}

nav {
  width: 80%;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
  list-style: none;
}

section {
  margin-bottom: 50px;
}

.menuItem {
  text-decoration: none;
  margin: auto 8px;
  font-weight: 700;
}

.menuItem:hover {
  text-decoration: underline;
}

#resultsDeputados {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 20%;
  margin: 2%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.info {
  padding: 14px 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#socials {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
  margin: 0;
  padding: 0;
}

.fab {
  color: #303030;
}

#resultsPartidos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cardPartido {
  width: 20%;
  margin: 2%;
}

footer {
  background-color: #303030;
  color: #ffffff;
  width: 100%;
  text-align: center;
}

/*Styles for mobile*/
@media (max-width: 1024px) {
  #container {
    width: 100%;
  }
}

@media (max-width: 576px) {
  #top {
    flex-direction: column;
    flex-wrap: wrap;
  }

  nav ul {
    flex-direction: column;
  }
}
